


<div class="row">
     <div class="col-8">
         <h3>Country List</h3>
     </div>
     <div class="col-4">
        <a asp-action="Upsert" class="btn btn-info">AddCountry</a>
     </div>
 </div>

<table id="tbldata" class="table table-bordered table-responsive" >
    <thead>
        <tr>
            <th class="bg-light" >Name</th>
            <th class="bg-light">Actions</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/countrylist.js"></script>
}